.cont{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about p{
    color: black;
    word-break: break-all;
}
.about{
    width: 90%;
    padding: 10px;
    display: flex;
    border: 2px dotted #3d7c98;
    flex-direction: column;
    align-items: center;
}